mrs_uav_controllers:
  se3_controller:
    constraints:
      tilt_angle_failsafe:
        enabled: false

mrs_uav_managers:

  gain_manager:

    estimator_types: [
      "open_vins",
      "vins_kickoff",
    ]

    gains: [
      "supersoft",
    ]

    allowed_gains:
      open_vins: ["supersoft"]
      vins_kickoff: ["supersoft"]

    default_gains:
      open_vins: "supersoft"
      vins_kickoff: "supersoft"


  control_manager:
    safety:
      rc_emergency_handoff:
        enabled: true

    Se3Controller:
      eland_threshold: 3.0
      failsafe_threshold: 3.5

  constraint_manager:

    fast20:

      horizontal:
        speed: 20.0
        acceleration: 15.0
        jerk: 140.0
        snap: 140.0
  
      vertical:
  
        ascending:
          speed: 4.0
          acceleration: 2.0
          jerk: 60.0
          snap: 60.0
  
        descending:
          acceleration: 2.0
          speed: 4.0
          snap: 60.0
          jerk: 60.0
  
      heading:
        acceleration: 2.0
        speed: 2.0
        snap: 40.0
        jerk: 40.0
  
      angular_speed:
        pitch: 60.0
        roll: 60.0
        yaw: 10.0
  
      tilt: 80.0 # [deg]

    fast22:

      horizontal:
        speed: 22.0
        acceleration: 20.0
        jerk: 150.0
        snap: 150.0
  
      vertical:
  
        ascending:
          speed: 4.0
          acceleration: 2.0
          jerk: 60.0
          snap: 60.0
  
        descending:
          acceleration: 2.0
          speed: 4.0
          snap: 60.0
          jerk: 60.0
  
      heading:
        acceleration: 2.0
        speed: 2.0
        snap: 40.0
        jerk: 40.0
  
      angular_speed:
        pitch: 60.0
        roll: 60.0
        yaw: 10.0
  
      tilt: 80.0 # [deg]

    fast24:

      horizontal:
        speed: 24.0
        acceleration: 25.0
        jerk: 200.0
        snap: 200.0
  
      vertical:
  
        ascending:
          speed: 4.0
          acceleration: 2.0
          jerk: 60.0
          snap: 60.0
  
        descending:
          acceleration: 2.0
          speed: 4.0
          snap: 60.0
          jerk: 60.0
  
      heading:
        acceleration: 2.0
        speed: 2.0
        snap: 40.0
        jerk: 40.0
  
      angular_speed:
        pitch: 60.0
        roll: 60.0
        yaw: 10.0
  
      tilt: 80.0 # [deg]

    insane:

      horizontal:
        speed: 16.0
        acceleration: 8.0
        jerk: 120.0
        snap: 120.0
  
      vertical:
  
        ascending:
          speed: 4.0
          acceleration: 2.0
          jerk: 60.0
          snap: 60.0
  
        descending:
          acceleration: 2.0
          speed: 4.0
          snap: 60.0
          jerk: 60.0
  
      heading:
        acceleration: 2.0
        speed: 2.0
        snap: 40.0
        jerk: 40.0
  
      angular_speed:
        pitch: 60.0
        roll: 60.0
        yaw: 10.0
  
      tilt: 80.0 # [deg]

    estimator_types: [
      "open_vins",
      "vins_kickoff",
    ]

    constraints: [
      "slow",
      "medium",
      "fast",
      "fast20",
      "fast22",
      "fast24",
      "insane",
    ]

    # list of allowed gains per odometry mode
    allowed_constraints:
      open_vins: ["slow", "medium", "fast", "fast20", "fast22", "fast24", "insane"]
      vins_kickoff: ["slow"]

    default_constraints:
      open_vins: "medium"
      vins_kickoff: "slow"

  estimation_manager:

    # loaded state estimator plugins
    # available in mrs_uav_state_estimators: gps_garmin, gps_baro, rtk, aloam, ground_truth, dummy
    state_estimators: [
    "open_vins",
    "vins_kickoff",
    ]

    initial_state_estimator: "vins_kickoff" # will be used as the first state estimator
    agl_height_estimator: "" # only slightly filtered height for checking min height (not used in control feedback)



    # namespace of the state estimator
    vins_kickoff:

      address: "vins_kickoff/VinsKickoffEstimatorPlugin"

      requires: # data required from the hw api
        gnss: false
        imu: false
        distance_sensor: false
        altitude: false
        magnetometer_heading: false
        position: false
        orientation: true
        velocity: true
        angular_velocity: true

      topics:
        orientation: "hw_api/orientation" # orientation passthrough
        angular_velocity: "hw_api/angular_velocity" # angular velocity passthrough

      kickoff:
        target_estimator: "open_vins" # orientation passthrough
        max_duration: 2.0 # angular velocity passthrough

    # namespace of the state estimator
    open_vins:

      address: "open_vins/OpenVinsEstimatorPlugin"

      requires: # data required from the hw api
        gnss: false
        imu: false
        distance_sensor: false
        altitude: false
        magnetometer_heading: false
        position: false
        orientation: true
        velocity: true
        angular_velocity: true

      override_frame_id: # override the default frame_id with a custom one 
        enabled: true
        frame_id: "vio_origin" # the desired frame_id without the UAV namespace

      estimators: # the names of the partial estimators
        lateral:
          name: "lat_open_vins"
        altitude:
          name: "alt_open_vins"
          # name: "alt_garmin"
        heading:
          name: "hdg_open_vins"
          passthrough: false # if true, then heading is not estimated but passed through from the orientation topic

      topics:
        orientation: "hw_api/orientation" # orientation passthrough
        angular_velocity: "hw_api/angular_velocity" # angular velocity passthrough

      # namespace of the altitude estimator
      alt_open_vins: # namespace of the altitude estimator

        max_flight_z: 100.0 # [m] maximum allowed flight Z (in the estimator frame)

        innovation:
          limit: 1.0 # [m] innovation limit that will trigger action
          action: "switch" # {"eland", "switch", "mitigate"}

        repredictor: # repredictor for correct fusion of delayed measurements
          enabled: true
          buffer_size: 200 # [samples] how many states and corrections are kept in history (i.e. estimator running at the default 100 Hz rate will be able to fuse corrections with up to 2 s delay with buffer size of 200 samples)

        process_noise: # process noise covariance (Q)
          pos: 1.0 # position state
          vel: 100.0 # velocity state
          acc: 100.0 # acceleration state

        corrections: [
          "pos_vio",
        ]

        pos_vio:
          state_id: 0 # 0 - position, 1 - velocity, 2 - acceleration
          noise: 0.001 # measurement noise covariance (R)
          noise_unhealthy_coeff: 100.0 # covariance gets multiplied by this coefficient when correction is unhealthy (R)
          message:
            type: "nav_msgs/Odometry"
            topic: "vins_republisher/odom" # without uav namespace
            limit: 
              delay: 1.0 # [s] messages with higher delay will flag correction as unhealthy
              time_since_last: 0.5 # [s] larger time step between messages will flag correction as unhealthy

          processors: [] # types of processors attached to this measurement


      # namespace of the heading estimator
      hdg_open_vins: # namespace of the heading estimator

        max_flight_z: 100.0 # [m] maximum allowed flight Z (in the estimator frame)

        position_innovation_limit: 1.0 # [rad] innovation limit that will trigger switch to other estimator

        repredictor: # repredictor for correct fusion of delayed measurements
          enabled: true
          buffer_size: 200 # [samples] how many states and corrections are kept in history (i.e. estimator running at the default 100 Hz rate will be able to fuse corrections with up to 2 s delay with buffer size of 200 samples)

        process_noise: # process noise covariance (Q)
          pos: 0.1 # position state
          vel: 0.1 # velocity state

        corrections: [
          "hdg_vio"
        ]

        hdg_vio:
          state_id: 0 # 0 - position, 1 - velocity, 2 - acceleration
          noise: 0.0001 # measurement noise covariance (R)
          noise_unhealthy_coeff: 100.0 # covariance gets multiplied by this coefficient when correction is unhealthy (R)
          message:
            type: "nav_msgs/Odometry"
            topic: "vins_republisher/odom" # without uav namespace
            limit: 
              delay: 1.0 # [s] messages with higher delay will flag correction as unhealthy
              time_since_last: 0.5 # [s] larger time step between messages will flag correction as unhealthy

          processors: [] # types of processors attached to this measurement

      # namespace of the lateral estimator
      lat_open_vins: # namespace of the lateral estimator

        hdg_source_topic: "vio/hdg_vio/output" # [mrs_uav_state_estimation/EstimatorOutput]

        max_flight_z: 100.0 # [m] maximum allowed flight Z (in the estimator frame)

        innovation:
          limit: 1.0 # [m] innovation limit that will trigger action
          action: "eland" # {"eland", "switch", "mitigate"}

        repredictor: # repredictor for correct fusion of delayed measurements
          enabled: true
          buffer_size: 200 # [samples] how many states and corrections are kept in history (i.e. estimator running at the default 100 Hz rate will be able to fuse corrections with up to 2 s delay with buffer size of 200 samples)

        process_noise: # process noise covariance (Q)
          pos: 0.1 # position state
          vel: 1.0 # velocity state
          acc: 1.0 # acceleration state

        corrections: [
          "pos_vio",
          "vel_vio"
        ]

        pos_vio:
          state_id: 0 # 0 - position, 1 - velocity, 2 - acceleration
          noise: 0.01 # measurement noise covariance (R)
          noise_unhealthy_coeff: 100.0 # covariance gets multiplied by this coefficient when correction is unhealthy (R)
          message:
            type: "nav_msgs/Odometry"
            topic: "vins_republisher/odom" # without uav namespace
            limit: 
              delay: 1.0 # [s] messages with higher delay will flag correction as unhealthy
              time_since_last: 0.5 # [s] larger time step between messages will flag correction as unhealthy

          processors: [] # types of processors attached to this measurement

        vel_vio:
          state_id: 1 # 0 - position, 1 - velocity, 2 - acceleration
          noise: 0.01 # measurement noise covariance (R)
          noise_unhealthy_coeff: 100.0 # covariance gets multiplied by this coefficient when correction is unhealthy (R)
          body_frame: true # velocity is in body frame from open_vins
          message:
            type: "nav_msgs/Odometry"
            topic: "vins_republisher/odom" # without uav namespace
            limit: 
              delay: 1.0 # [s] messages with higher delay will flag correction as unhealthy
              time_since_last: 0.5 # [s] larger time step between messages will flag correction as unhealthy

          processors: [] # types of processors attached to this measurement

  uav_manager:
  
    takeoff:

      during_takeoff:

        controller: "MpcController"

      after_takeoff:

        controller: "MpcController"

      takeoff_height: 0.8

    midair_activation:
      after_activation:
        controller: "MpcController"

  transform_manager:

    open_vins:
      odom_topic: "odom" # name of the topic (expects nav_msgs/Odometry topic type)
      tf_from_attitude: # used for transforming velocities before full transform is available
        enabled: true
        attitude_topic: "attitude" # name of the attitude topic(expects geometry_msgs/QuaternionStamped topic type)
      namespace: "estimation_manager/open_vins" # the namespace of the topic (usually the node that publishes the topic)
      utm_based: false # if true, will publish tf to utm_origin
      inverted: true # publish as inverted tf (the default for inverted mrs tf tree convention)
      republish_in_frames: [] # the odometry message will be transformed and republished in the specified frames

    vins_kickoff:
      odom_topic: "odom" # name of the topic (expects nav_msgs/Odometry topic type)
      tf_from_attitude: # used for transforming velocities before full transform is available
        enabled: false
        attitude_topic: "attitude" # name of the attitude topic(expects geometry_msgs/QuaternionStamped topic type)
      namespace: "estimation_manager/vins_kickoff" # the namespace of the topic (usually the node that publishes the topic)
      utm_based: false # if true, will publish tf to utm_origin
      inverted: true # publish as inverted tf (the default for inverted mrs tf tree convention)
      republish_in_frames: [] # the odometry message will be transformed and republished in the specified frames

mrs_uav_trackers:

  landoff_tracker:

    max_position_difference: 2.0
    vertical_tracker:

      takeoff_speed: 1.0
      takeoff_acceleration: 0.5

