<launch>

    <arg name="UAV_NAME" default="$(optenv UAV_NAME)" />

    <arg name="fcu_frame" default="$(arg UAV_NAME)/fcu" />
    <arg name="fcu_frame_slashless" default="fcu_$(arg UAV_NAME)" />

    <group ns="$(arg UAV_NAME)">
	    <group ns="openmv_cam_front">

        <arg name="camera_name" default="openmv_front" />
        <arg name="camera_frame" default="$(arg UAV_NAME)/$(arg camera_name)" />

        <!-- TF -->
        <node pkg="tf2_ros" type="static_transform_publisher" name="openmv_front_tf" args="0.121 0.0 -0.07 0.0 0.0 0.0 $(arg fcu_frame) $(arg camera_frame)" />
        
	    </group>

    </group>

</launch>
