<launch>

  <!-- args corresponding to environment variables -->
  <arg name="UAV_NAME" default="$(optenv UAV_NAME)" />

  <arg name="js" default="js0" />

  <!-- UAV namespace -->
  <group ns="$(arg UAV_NAME)">

    <node name="joystick" pkg="joy" type="joy_node" output="screen">
      <param name="dev" type="string" value="/dev/input/$(arg js)" />
    </node>

  </group>

</launch>
